In [0]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import random

In [3]:

data= pd.read_csv('meta.csv', sep=',')
data.head(n=5)

   patientid  offset  ... other_notes  Unnamed: 28
0          2     0.0  ...         NaN          NaN
1          2     3.0  ...         NaN          NaN
2          2     5.0  ...         NaN          NaN
3          2     6.0  ...         NaN          NaN
4          4     0.0  ...         NaN          NaN

[5 rows x 29 columns]

In [4]:
data.drop(columns=['doi', 'url', 'patientid', 'location', 'folder', 'filename', 'license' ,'other_notes', 'clinical_notes', 'Unnamed: 28'],inplace=True)
data.head(n=5)
data.drop(columns=['view', 'modality'])

     offset sex   age  ... neutrophil_count lymphocyte_count              date
0       0.0   M  65.0  ...              NaN              NaN  January 22, 2020
1       3.0   M  65.0  ...              NaN              NaN  January 25, 2020
2       5.0   M  65.0  ...              NaN              NaN  January 27, 2020
3       6.0   M  65.0  ...              NaN              NaN  January 28, 2020
4       0.0   F  52.0  ...              NaN              NaN  January 25, 2020
..      ...  ..   ...  ...              ...              ...               ...
417    22.0   M  22.0  ...              NaN              NaN               NaN
418     2.0   F  39.0  ...              NaN              NaN               NaN
419     9.0   F  39.0  ...              NaN              NaN               NaN
420    11.0   F  39.0  ...              NaN              NaN               NaN
421    17.0   F  39.0  ...              NaN              NaN               NaN

[422 rows x 17 columns]

In [0]:
data['age'].fillna(data['age'].mean(), inplace=True)

In [0]:
data['sex'].fillna(random.randint(0,1), inplace=True)

In [7]:
data.shape

(422, 19)

In [0]:

sex1={'M':1, 'F':0}
data['sex'].isnull().sum()
data['sex']=data['sex'].map(sex1)
data['sex'].fillna(random.randint(0,1), inplace=True)

In [0]:
disease={'COVID-19':0, 'SARS':1, 'No Finding':2, 'Streptococcus':3, 'Chlamydophila':4, 'E.Coli':5, 'Pneumocystis':6, 'COVID-19, ARDS':7}
data['finding']= data['finding'].map(disease)

In [10]:
data['sex'].isnull().sum()

0

In [11]:
survival={'Y':1, 'N':0}
data['survival']=data['survival'].map(survival)
data.dropna(subset=["survival"],inplace=True)
data['survival'].isnull().sum()

0

In [12]:
data['survival'].unique()

array([1., 0.])

In [13]:
x= data.iloc[:,[1,2,3]]
x.isnull().sum()

sex        0
age        0
finding    0
dtype: int64

In [23]:
x= data.iloc[:,[1,2, 3]]
y= data['survival']
x_train, x_test, y_train, y_test=train_test_split(x, y, random_state=0, test_size=0.25, shuffle=True)
regressor= LogisticRegression()
regressor.fit(x_train, y_train)
y_pred=regressor.predict(x_test)
print(y_pred)

[1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0.]

In [24]:
print(sklearn.metrics.accuracy_score(y_test, y_pred))

0.8285714285714286